@import "tailwindcss";

body {
}
button,
input,
a {
  cursor: pointer;
}
@theme {
  --color-primary-red: #d50000;
  --color-black: #111111;
  --color-dark-gray: #333333;
  --color-steel-gray: #666666;
  --color-white: #ffffff;
}
